<div style="margin-top: 2rem;">
  <p-table [value]="payment" responsiveLayout="scroll">
      <ng-template pTemplate="header">
          <tr>
              <th>Ek Servisler</th>
              <th>Ücret</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-additionalServiseItem>
          <tr style="height: 2rem;">
              <td>{{additionalServiseItem.name}}</td>
              <td>{{additionalServiseItem.price}} TL</td>             
          </tr>
      </ng-template>
    </p-table> 
    <div style="margin: 1rem;">
      <p-button label="Tamamla" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}" routerLink=""></p-button>
  </div>

</div>