<h2 style="margin-top: 15px; margin-left: 15 px;">Marka Ekleme</h2>
<br>
<form [formGroup]="brandAddForm" (submit)="add()" style="scroll-margin-top: 10px;">
    <div style="scroll-margin-top: 15px;">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText formControlName="name"> 
            <label for="float-input">Marka Adı Giriniz</label>
        </span>
    </div>
    <br>
    <div style="scroll-margin-top: 15px;">
        <span class="p-buttonset">
            <button pButton pRipple type="submit" label="Save" icon="pi pi-check"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash"></button>
            <button pButton pRipple label="Cancel" icon="pi pi-times"></button>
        </span>
    </div>
</form>


