<h2 style="margin-bottom: 15px; text-align: center;">Markalar</h2>
<div class="card-footer" >
    <div style="margin-block: 8px;">
        <p-listbox (click)="getBrandId(selectedBrand!)" [options]="brands" [(ngModel)]="selectedBrand" optionLabel="name"></p-listbox>
    
    <br>
    <form [formGroup]="brandAddForm" style="scroll-margin-top: 10px;">
        <div style="scroll-margin-top: 15px;">
            <span class="p-float-label">
                <input id="float-input" type="text" placeholder="{{selectedBrand?.name}}" pInputText formControlName="name" > 
            </span>
        </div>
        <br>
        <div style="scroll-margin-top: 15px;">
            <span class="p-buttonset">
                <button pButton pRipple type="submit" label="Kaydet" (click)="add()" icon="pi pi-check"></button>
                <app-brand-delete [selectedBrand]="selectedBrand"></app-brand-delete>
                <app-brand-update [selectedBrand]="selectedBrand" [updatedName]="brandAddForm.get('name').value"></app-brand-update>
            </span>
        </div>
    </form>   
    </div> 
</div>


