<div style="margin-bottom: 2rem; margin-top: 15px; margin-left: 40px;">
  <h1 style="color: #ffc107 ;  -webkit-text-stroke: 0.2px black">Araç Bilgileri</h1>
</div>
<div class="card-footer">

  <form style="margin-top: 15px; margin-left: 40px;" [formGroup]="carAddForm" (submit)="add()">

    <div style="margin-bottom: 2rem;" class="form-group">  
      <span class="p-float-label" >
        <input type="text" id="inputtext" pInputText formControlName="name" > 
        <label for="inputtext">Araba Adı</label>
      </span>
    </div>

    <div class="field col-12 md:col-4" style="margin-bottom: 2rem;" class="form-group">
      <label for="name">Marka</label>
      <span class="p-float-label">
          <p-dropdown [options]="brands" optionLabel="name" optionValue="id" formControlName="brandId" [showClear]="true"></p-dropdown>
      </span>
    </div>

    <div style="margin-bottom: 2rem;" class="form-group">
      <span class="p-float-label" >
        <input type="text" id="inputtext" pInputText formControlName="modelYear" > 
        <label for="inputtext">Model</label>
      </span>
    </div>

    <div class="field col-12 md:col-4" style="margin-bottom: 2rem;" class="form-group">
      <label for="name">Renk</label>
      <span class="p-float-label">
        <p-dropdown [options]="colors" optionLabel="name" optionValue="id" formControlName="colorId" [showClear]="true"></p-dropdown>
      </span>
    </div>

    <div style="margin-bottom: 2rem;" class="form-group">
        <div class="p-inputgroup" style="width: fit-content;">
            <span class="p-inputgroup-addon">TL</span>
            <input type="text" pInputText placeholder="Günlük Ücret" formControlName="dailyPrice">        
        </div>
    </div>

    <div style="margin-bottom: 2rem;" class="form-group">
      <label for="name">Kilometre</label>
      <div class="p-inputgroup" style="width: fit-content;">
        <p-inputNumber formControlName="kilometer" inputId="kilometer" suffix=" km" ></p-inputNumber>
      </div>
    </div>

    <div class="field col-12 md:col-4" style="margin-bottom: 2rem;" class="form-group">
      <label for="name">Segment</label>
      <span class="p-float-label">
        <p-dropdown [options]="segments" optionLabel="name" optionValue="id" formControlName="segmentId" [showClear]="true"></p-dropdown>
      </span>
    </div>

    <div class="field col-12 md:col-4" style="margin-bottom: 2rem;" class="form-group">
      <label for="name">Yakıt Tipi</label>
      <span class="p-float-label">
        <p-dropdown [options]="fuelTypes" optionLabel="name" optionValue="id" formControlName="fuelTypeId" [showClear]="true"></p-dropdown>
      </span>
    </div>

    <div class="field col-12 md:col-4" style="margin-bottom: 2rem;" class="form-group">
      <span class="p-float-label">
        <textarea id="float-input" rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
        <label for="inputtext">Açıklama</label>
      </span>
    </div>

    <div style="margin-bottom: 2rem;" class="form-group">
      <span class="p-float-label" >
        <input type="text" id="inputtext" pInputText formControlName="minAge" > 
        <label for="inputtext">Minimum Yaş</label>
      </span>
    </div>

    <div style="margin-bottom: 2rem;" class="form-group">
      <label for="name">Findex Score</label>
      <span class="p-float-label" >
        <p-inputNumber formControlName="findexScore" inputId="findexScore"></p-inputNumber> 
      </span>
    </div>

    <div class="field col-12 md:col-4" style="margin-bottom: 2rem;" class="form-group">
      <span class="p-float-label" >
        <input type="text" id="inputtext" pInputText formControlName="imageUrl" > 
        <label for="inputtext">Resim URL</label>
      </span>
    </div>

    <div style="margin-bottom: 2rem;" class="form-group">
      <button pButton pRipple>Ekle</button>
    </div> 
</form>
</div>
