<p-tabMenu [model]="items"></p-tabMenu>
<div class="content-section implementation">
    <div class="card" > 
        <p-dataView #dv [value]="cars" [paginator]="true" [rows]="4" filterBy="name" layout="grid">
            <ng-template pTemplate="header">
                Araçlar
            </ng-template>
            <ng-template let-car pTemplate="gridItem">
                <div class="col-9 md:col-4" >
                    <div class="product-grid-item card">
                        <div class="product-grid-item-top">
                            <div>
                                <i class="pi pi-tag prduct-category-icono"></i>
                                <span class="product-category">{{car.modelYear}}</span>
                            </div>
                        </div>
                        <div class="product-grid-item-content">
                            <img width="100px" height="250px" src="{{car.imageUrl}}">
                             <div class="product-name">{{car.name}}</div>
                            <div class="product-description">{{car.brandName}}</div>
                        </div>
                        <div class="product-grid-item-bottom">
                            <span class="product-price">{{car.dailyPrice}} TL</span>
                            <p-button icon="pi pi-bars" routerLink="car-detail/{{car.id}}"></p-button>
                        </div>
                    </div>
                </div> 
            </ng-template>
        </p-dataView>
    </div>
</div>