<h2 style="margin-bottom: 15px; text-align: center;">Yakıt Tipleri</h2>
<div class="card-footer">
  <div style="margin-block: 8px;">
    <p-listbox (click)="getFuelTypeId(selectedFuelType!)" [options]="fuelTypes" [(ngModel)]="selectedFuelType" optionLabel="name"></p-listbox>
    <br>
    <form [formGroup]="fuelTypeAddForm" (submit)="add()" style="scroll-margin-top: 10px;">
        <div style="scroll-margin-top: 15px;">
            <span class="p-float-label">
                <input id="float-input" type="text" placeholder="{{selectedFuelType?.name}}" pInputText formControlName="name" > 
            </span>
        </div>
        <br>
        <div style="scroll-margin-top: 15px;">
            <span class="p-buttonset">
                <button pButton pRipple type="submit" label="Kaydet" icon="pi pi-check"></button>
                <app-fuelType-delete [selectedFuelType]="selectedFuelType"></app-fuelType-delete>
                <app-fuelType-update [selectedFuelType]="selectedFuelType"></app-fuelType-update>
            </span>
        </div>
    </form>     
  </div>
</div>
