<p-card header="{{car?.brandName}}" subheader="{{car?.name}}" [style]="{width: '1000 px'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
      <img alt="Card" src="{{car?.imageUrl}}">
  </ng-template>
   <table class="table">
        <thead>
            <tr>
                <td scope="col">Özellikler</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Model YIlı</td>
                <td>{{car?.modelYear}}</td>
            </tr>
            <tr>
                <td>Açıklama</td>
                <td>{{car?.description}}</td>
            </tr>
            <tr>
                <td>Yakıt Tipi</td>
                <td>{{car?.fuelTypeName}}</td>
            </tr>
            <tr>
                <td>Segment</td>
                <td>{{car?.segmentName}}</td>
            </tr>
            <tr>
                <td>Findex Score</td>
                <td>{{car?.findexScore}}</td>
            </tr>
            <tr>
                <td>Kilometre</td>
                <td>{{car?.kilometer}}</td>
            </tr>
            <tr>
                <td>Minimum Yaş</td>
                <td>{{car?.minAge}}</td>
            </tr>
        </tbody>
    </table> 

  <ng-template pTemplate="footer">
      <p-button label="Kirala" icon="pi pi-check" routerLink="rental-rentalAdd"></p-button>
      <p-button label="Geri Dön" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}" routerLink=""></p-button>
  </ng-template>
</p-card>


