<div style="margin-top: 2rem;">
    <p-table [value]="additionalServiseItems" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th>Ek Servisler</th>
                <th>Ücret</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-additionalServiseItem>
            <tr style="height: 2rem;">
                <td>
                    <p-toggleButton onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton>
                </td>
                <td>{{additionalServiseItem.name}}</td>
                <td>{{additionalServiseItem.price}} TL</td>             
            </tr>
        </ng-template>
      </p-table>      
</div>
